
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

@media (max-width: 720px) {
	.header-content {
	  padding: 0 15px 0 15px;
	}
  }


@media (max-width: 460px) {
  .content {
    margin: 0;
  }
}

@media (max-width: 600px) {
	.about-me {
		display: block;
	}
	.about-me p {
		padding: 0px;
	}
}

@media (max-width: 600px) {
	img {
		margin-top: 3rem;
	}
}
