html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-size: 10px;
  scroll-behavior: smooth;
}

/* ------------------------------------------------------------------------------
	 Color
-------------------------------------------------------------------------------*/

:root {
	--primary: #1d1d1d;
	--secondary: #60a6ab;
	--tertiary: #d47979;
	--grey: #888888;
	--white: #ffffff;
	--black: #000000;
  }

/* ------------------------------------------------------------------------------
	 Typography
-------------------------------------------------------------------------------*/
p {
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 16px 0;
	color: var(--grey)
}
h1 {
	font-size: 6.5rem;
	color: var(--grey);
}
h2 {
	font-size: 4rem;
	color: var(--grey);
}
h3 {
	font-size: 2rem;
	color: var(--white);
	font-weight: 400;
}
h4 {
	font-size: 1.6rem;
	color: var(--white);
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: var(--white);
	font-weight: 400;
}

/* ------------------------------------------------------------------------------
	 Button
-------------------------------------------------------------------------------*/

.btn {
	background-color: #ffffff14;
	color: var(--white);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	border-radius: 4px;
	padding: 8px 12px;
	display: inline-block;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	background-color: var(--secondary);
	color: var(--white);
	text-decoration: none;
}
.btn-large {
	padding: 15px 40px;
}

/* ------------------------------------------------------------------------------
	 Animation
-------------------------------------------------------------------------------*/

.animated {
	position: relative;
  }
  .animated-headline{
	color: var(--grey);
	font-family: "Bebas Neue", sans-serif;
	font-size: 4rem;
	font-weight: 400;
  }
  .animated-info {
	min-height: 48px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	min-width: 268px;
	position: relative;
  }
  
  .animated-item {
	color: var(--white);
	font-family: "Bebas Neue", sans-serif;
	font-size: 4rem;
	font-weight: 400;
  }
  
  .animated-item {
	display: block;
	/* line-height: inherit; */
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
	animation: BottomTotop 8s cubic-bezier(0.55, 0.06, 0.68, 0.19) infinite 0s;
  }
  .animated-item:nth-child(2n+2) {
	animation-delay: 2s;
  }
  .animated-item:nth-child(3n+3) {
	animation-delay: 4s;
  }
  .animated-item:nth-child(4n+4) {
	animation-delay: 6s;
  }
  
  @keyframes BottomTotop {
	0% {
	  opacity: 0;
	}
	5% {
	  opacity: 0;
	  transform: translateY(0px);
	}
	10% {
	  opacity: 1;
	  transform: translateY(0px);
	}
	25% {
	  opacity: 1;
	  transform: translateY(0px);
	}
	30% {
	  opacity: 0;
	  transform: translateY(-30px);
	}
	80% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
}

/* ------------------------------------------------------------------------------
	 Components
-------------------------------------------------------------------------------*/

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  /* line-height: 1.5; */
  color: var(--grey);
  margin: 0;
  background-color: var(--primary);
}

a {
  color: var(--white);
  text-decoration: none;
}

i {
	margin-right: 0.8rem;
}

/* a:visited { 
  color: var(--tertiary);
}
*/
a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

#header {
	background-color: var(--primary);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 99;
	padding: 18px 0;
	/* height: 50px; */
}

#header .header-content {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 720px;
	/* width: 100%; */
	/* -moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s; */
}
#header .logo {
	font-size: 22px;
	color: var(--white);
	letter-spacing: 2px;
	font-weight: 400;
	float: left;
	text-transform: lowercase;
	text-decoration: none;
	border: var(--white) solid 1px;
	padding: 0 16px;
	line-height: 42px;
}
#header .links {
	margin: auto 0 auto 1.6rem;
}

#header .links-block {
	display: flex;
}

.text-icon {
	display: flex;
	align-items: center;
}

.text-icon:hover {
	text-decoration: underline;
	color: var(--secondary);
}

.text-icon a {
	color: var(--grey);
	margin-right: 0.8rem;
}

.text-icon a:hover {
	color: var(--secondary);
	text-decoration: underline;
  }

/* ------------------------------------------------------------------------------
	 Sections
-------------------------------------------------------------------------------*/

.content {
  margin: 5rem auto 0;
  max-width: 720px;
  padding: 15px;
  border-radius: 5px;
  /* background: var(--secondary); */
}

.section {
	margin-bottom: 8rem;
}

.about-me {
	display: flex;
	margin-top: 2rem;
	align-items: center;
}

.about-me p {
	padding-right: 3rem;
}

/* .about-me-text {
	display: flex;
}
*/

.title {
	display: flex;
	justify-content: space-between;
	margin: 0 0 1.6rem 0;
}

.work-content {
	display: block;
	/* justify-content: space-between; */
}

.work-content p {
	font-size: 1.3rem;
	margin: 0;
}

.work-content h4 {
	margin: 0;
}

.work-line {
	margin: 0 0 1.6rem 0;
}

.work-line-headline {
	padding: 4px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1px dashed var(--grey);
}

.work-line-headline h5 {
	color: var(--grey);
	font-size: 1.4rem;
	margin: 0;
}

img {
	display: block;
	max-width:180px;
	max-height:180px;
	width: auto;
	height: auto;
	border-radius: 50%;
	margin: 0 auto;
}

footer {
	display: flex;
	justify-content: space-between;
}

footer h4 {
	color: var(--grey);
	font-size: 12px;
}

footer a {
	color: var(--grey);
	font-size: 12px;
	margin: auto;
}

.footer-links {
	margin: auto 0;
}

.footer-links a {
	margin-left: 1.6rem;
}

.impressum p {
	font-size: 1.6rem;
}

.impressum a {
	color: var(--grey);
	line-height: 26px;
}

.impressum a:hover {
	color: var(--secondary);
	text-decoration: underline;
  }

.impressum h2 {
	color: var(--white);
}

.impressum h4 {
	margin: 1.6rem 0 0 0;
}